/.settings/
/test/
/.buildpath
/.project
/.tern-project


/protected/
/bower_components/
/dbimg/
/temp/


/module/IP2Country/
/module/Avatar/
/module/Maps/
/module/Contact/
/module/Websocket/ 
/module/Contact/
/module/Account/
/module/Currency/
/module/Payment/

