/* html, body { width: 100%; height: 100%; } */
/* * { box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; list-style: none; } */
* { box-sizing: border-box; }
.a { position: absolute; }
.r { position: relative; }
.n { display: none; } 
.b { display: block; }
.ib { display: inline-block; }
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }

/** GWF_File **/
div.gwf-attachment { border: 1px dotted #ccc; margin-top: 16px; word-break: break-all; }
div.gwf-file { padding: 8px; }
span.gwf-file-size, span.gwf-file-type { font-weight: bold; } 

/** Footer **/
footer { border-top: 1px solid #ccc; text-align: center; background: #eee; }

/** GWF_Table **/
td.gdo-button { padding: 0!important; }
td.gdo-button .md-button { margin: 0; }
img.gwf-country, img.gwf-language { width: 42px; }
.gwf-table table tbody tr th { text-align: center; }
.gwf-table table tbody tr td { padding: 2px 8px; }
.gwf-table table tbody tr td { text-align: center; vertical-align: middle; font-size: 16px; }
.gwf-table table tbody tr td.gdo-num { font-family: monospace; text-align: right; padding-right: 18px; }
.gwf-table table tbody tr td.gdo-rownum div { position: relative; padding: 0; left: 12px; top: 12px; }
/* .gwf-table table .gdo-num, .gwf-table table .gdo-rownum { max-width: 80px; } */
.gwf-tblorder a.sel { color: gold; }
.gwf-table th md-select { margin: -4px 0 0 0; }
.gwf-table th md-checkbox { margin: 3px 0; }
.gwf-tblorder { display: inline-block; position: relative; left: -6px; }
.gwf-tblorder a { display: block; }
.gwf-tblorder a:first-child { position: relative; bottom: -30px; }
.gwf-tblorder a:last-child { position: relative; bottom: -10px; }
.gwf-table th { text-align: center; }
.gwf-pagemenu .page-selected a { background: #f00; }

/** GWF_Form **/
div.gdo-tooltip { display: inline-block; }
img.gwf-captcha-img {
	position: relative;
	top: -12px;
	left: 12px;
}
.has-error, md-content.gwf-error {
	background: #fff4f4;
    border: 1px dotted #ccc;
    overflow: hidden;
}
.has-error { overflow: auto; }
md-content.gwf-message {
	background: #eeffee;
    border: 1px dotted #ccc;
    overflow: hidden;
}

.gwf-error i.material-icons, .gwf-message i.material-icons {
    display: inline-block;
    width: 30px;
    height: 28px;
    line-height: 28px;
}

.gwf-error p, .gwf-message p {
    font-weight: bold;
    margin: 0;
    line-height: 28px;
}
.gwf-error p {
    color: #a11;
    line-height: 28px;
}
.gwf-form-error {
    color: #a11;
    font-weight: bold;
    opacity: 0.7;
    clear: both;
}
md-input-container .gwf-form-error {
	top: -12px;
    position: relative;
}

md-input-container > md-select {
	margin-bottom: 20px;
}
.gwf-divider-label {
	font-size: 20px;
}
md-select > md-select-value.md-select-value > span > div.md-text {
	display: inline-block!important;
}
div.gwf-label {
	padding: 8px 4px 16px;
}

h2.gwf-form-title { text-align: center; }

/** Avatar **/
gwf-avatar, gwf-avatar img {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	display: inline-block;
}
gwf-avatar img {
	width: 42px;
	height: 42px;
	padding: 2px;
	background: #aaa;
}
gwf-avatar.male img { background: #369; }
gwf-avatar.female img { background: #f08; }

/** Box **/
md-content.gwf-box { line-height: 28px; font-size: 15px; }
gwf-div, div.gwf-div { height: 1px; width: 100%; background: #bbb; }

/** Card **/
md-card .gwf-card-date { font-size: 12px;}
.gwf-list md-card { margin-bottom: 16px; }

/** List **/
md-list-item { border-top: 1px solid #ccc; }
md-list-item:last-child { border-bottom: 1px solid #ccc; }

/** Debug **/
.gwf-stacktrace { font-family: monospace; word-break: break-all; }

/** Tags **/
.gwf-selected { font-weight: bold; text-decoration: underline; }

/** Badge **/
.gwf-badge {
	background: #fff;
	border-radius: 12px;
	min-width: 32px;
	text-align: center;
	border: 1px solid #ccc;
	display: table;
	line-height: 21px;
	padding: 4px;
	float: left;
	margin-right: 4px;
}

/** Upload **/
.gwf-file-preview img {
	height: 160px;
}
